<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Game_Over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{982,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{982,106}}</string>
                <key>sourceSize</key>
                <string>{982,106}</string>
            </dict>
            <key>Get_Ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{1064,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1064,106}}</string>
                <key>sourceSize</key>
                <string>{1064,106}</string>
            </dict>
            <key>Title.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{982,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{982,106}}</string>
                <key>sourceSize</key>
                <string>{982,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HUD.png</string>
            <key>size</key>
            <string>{2048,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:509fc9c776d34f30c8cb33bb8a6cc288:c391ca78d920d213de8e0712cb1743a4:cb4e6430ea807ce724ba815ec96ef541$</string>
            <key>textureFileName</key>
            <string>HUD.png</string>
        </dict>
    </dict>
</plist>
